/Anlage.class
/Engine.class
/Irgendeine.class
/Kunde.class
/Einlage.class
/MainEngine.class
/EngineArbitrage.class
/RTDR.class
/EnginePaiRiT.class
/UserKunde.class
/UserAdmin.class
/ZZZinputUI.class
/ArtDR.class
/Banlage.class
/MainAlgo1.class
/MainerAlgo1.class
/MainerAlgo2.class
/UserController.class
/NewEngineArbitrage.class
/NewEnginePaiRiT.class
/User.class
